.slide {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}
.input-error {
    text-align: left;
    display: block;
    padding: 5px 0 5px 16px;
    color: color($colors, 'danger');
    font-size: 0.5em;
}